-# This file is app/view/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %th{:class=>('title' == @sortby)? 'hilite':""}= link_to  "#{movie.title}", movies_path(:sort => 'title'), :id => 'title_header'
        
        %th= movie.rating  
        
        %th{:class=>('release_date' == @sortby)? 'hilite':""}= link_to  "#{movie.release_date}", movies_path(:sort => 'release_date'), :id => 'title_header'
        
        %th= link_to "More about #{movie.title}", movie_path(movie)

  = form_tag movies_path, :method => :get, :id => "ratings_form" do
    Include:
    - @all_ratings.each do |rating|
      = rating
      - if @applicable_ratings
        - checked = @applicable_ratings.include?(rating)? true : false
      - else
        - checked = true
      = check_box_tag "ratings[#{rating}]", 1, checked, :id => "ratings_#{rating}"
    = submit_tag 'Refresh', :id => "ratings_submit"

= link_to 'Add new movie', new_movie_path
